:root {
  --rows: 1;
  --columns: 1;
}

body {
  color: dodgerblue;
}

header > #header {
  font-size: 36px;
  text-align: center;
  margin: 6px;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LEFT */
.btnPanel {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.btnPanel > .btns {
  width: 91%;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.btnPanel > .btns:hover {
  background-color: RoyalBlue;
}

/* MIDDLE */
#container {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border: 10px solid #ebf0e7a6;
  display: grid;
  width: 650px;
  height: 500px;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-area: main;
  background: white;
}

.gridCells {
  background: rgba(255, 255, 255, 0.596);
  transition: all 0.1s ease;
  border: 1px solid rgba(195, 208, 216, 0.164);
}

/* RIGHT */
.colorPicker {
  align-self: flex-start;
  margin-left: 10px;
  margin-top: 20px;
  text-align: left;
}
.colorPicker > #colorPickerWrapper {
  width: 64px;
  border-radius: 2px;
  margin-left: 6px;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

input[type="color"] {
  opacity: 0;
  padding: 15px;
}

input {
  cursor: pointer;
}

/* BOTTOM */
.log {
  text-align: center;
  font-size: 28px;
  font-style: italic;
  margin-top: 15px;
}

@media only screen and (max-width: 815px) {
  .mainContainer {
    flex-direction: column;
    order: 1;
  }
  #container {
    width: 95%;
  }

  .btnPanel {
    flex-direction: row;
    order: 2;
    height: auto;
  }

  .colorPicker {
   
    order: 2;
    align-self: center;
    margin-top: 4px;
    margin-bottom: 8px;
  }

  
}
